* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --spacer_rem: 1rem;

    --spacer_rem_eight: calc(var(--spacer_rem) * 8);
    --spacer_rem_double: calc(var(--spacer_rem) * 2);

    --spacer_rem_half: calc(var(--spacer_rem) * 0.5);
    --spacer_rem_quarter: calc(var(--spacer_rem) * 0.25);


    
    --spacer_vw: 8vw;

    --spacer_vw_double: calc(var(--spacer_vw) * 2);

    --spacer_vw_half: calc(var(--spacer_vw) * 0.5);
    --spacer_vw_quarter: calc(var(--spacer_vw) * 0.25);
}
@font-face {
    font-family: WyliFont;
    src: url(fonts/WyliFont-Regular.ttf);
}



html {
    scroll-behavior: smooth;
}



h1,
h2 {
    font-family: WyliFont, "Comic Sans MS", "Comic Sans", cursive;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}



p {
    font-family: WyliFont, "Comic Sans MS", "Comic Sans", cursive;
    font-size: 16px;
    text-align: center;
    padding: var(--spacer_rem_half);
}



header nav {
    height: var(--spacer_vw);
    display: flex;
    align-items: center;
    padding: var(--spacer_rem);
    /* padding: var(--spacer_rem) var(--spacer_rem) var(--spacer_rem) var(--spacer_rem_half); */
    margin-top: var(--spacer_rem_half);
}
header .links a, button {
    font-family: WyliFont, "Comic Sans MS", "Comic Sans", cursive;
    font-size: max(16px, var(--spacer_vw_quarter));
    text-decoration: none;
}
header .logo-text {
    /* margin-top: var(--spacer_rem); */
    height: var(--spacer_vw);
    flex: 1;
}
header .logo-text img {
    height: 100%;
}
header .logo-text img:hover {
    content: url(images/logos/main-text-hover.png);
    cursor: pointer;
}
header .links {
    list-style: none;
}
header .links li {
    display: inline-block;
    padding: 0 var(--spacer_rem);
}
header .links li a {
    transform: all 0.5s ease 0s;
    color: white;
}
header .links li a:hover {
    color: lightgray;
}
header .play button {
    padding: var(--spacer_rem_half) var(--spacer_rem);
    background-color: white;
    color: black;
    border-radius: var(--spacer_rem_double);
    border: var(--spacer_rem_quarter) solid white;
    cursor: pointer;
    transform: all 0.5s ease 0s;
    margin-left: var(--spacer_rem);
}
header .play button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}



body {
    background-image: url(images/backgrounds/fruityFauna.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: var(--spacer_rem);
}
body .left {
    position: fixed;
    bottom: -33%;
    width: 16%;
    height: auto;
    z-index: -1;
}
body .right {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 16%;
    height: auto;
    z-index: -1;
}
body .left img {
    position: relative;
    float: right;
    transform: translateX(-16%);
}
body .right img {
    position: relative;
    float: left;
    transform: translateX(16%);
}



main .top {
    display: grid;
    place-items: center;
    padding-bottom: var(--spacer_rem_half);
}
main .top .logo-text {
    width: 67%;
    max-height: 16vw;
    display: grid;
    place-items: center;
}
main .top .logo-text img {
    max-width: 100%;
    max-height: 16vw;
}

main .middle {
    display: grid;
    place-items: center;
}
main .middle > * {
    width: min(900px, 100% - var(--spacer_rem_double));
}

main .middle .play {
    display: grid;
    place-items: center;
    gap: var(--spacer_rem);
}
main .middle .play .trailer {
    width: 100%;
    aspect-ratio: 16 / 9;
    
    padding: var(--spacer_rem);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--spacer_rem_double);

}
main .middle .play .trailer iframe {
    width: 100%;
    height: 100%;
    border-radius: var(--spacer_rem);
}

main .middle .play .actions {
    width: 67%;
    display: flex;
    gap: var(--spacer_rem);
}
main .middle .play .actions a {
    flex: 1;
}
main .middle .play .actions button {
    width: 100%;
    height: 100%;
    padding: var(--spacer_rem_half) var(--spacer_rem);
    background-color: white;
    color: black;
    border-radius: var(--spacer_rem_double);
    border: var(--spacer_rem_quarter) solid white;
    cursor: pointer;
    transform: all 0.5s ease 0s;
}
main .middle .play .actions button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

main .middle .data {
    margin-top: var(--spacer_rem_eight);
    padding: var(--spacer_rem);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--spacer_rem_double);
}
main .middle .data p {
    color: lightgray;
}

main h1 {
    text-align: center;
}
main h2 {
    margin: 0;
}

main .middle .tables table {
    width: 100%;

    border-collapse: collapse;
    color: lightgray;

    font-family: WyliFont, "Comic Sans MS", "Comic Sans", cursive;
    font-size: 16px;
}
main .middle .tables .table-container {
    max-width: 100%;
    overflow-x: auto;
    
    padding: var(--spacer_rem);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--spacer_rem_double);
}
main .middle .tables .table-container:not(:last-child) {
    margin-bottom: var(--spacer_rem);
}
main .middle .tables .table-container h1 {
    padding-bottom: var(--spacer_rem);
}
main .middle .tables th {
    background: rgba(255, 255, 255, 0.25);
    color: white;
}
main .middle .tables th, td {
    padding: var(--spacer_rem_half) var(--spacer_rem);
    
    text-align: left;
}
main .middle .tables tr:nth-of-type(2n) {
    background: rgba(0, 0, 0, 0.25);
}

main .middle .tables input {
    width: var(--spacer_rem_double);
    height: var(--spacer_rem_double);
    accent-color: black;
}
main .middle .tables a {
    text-decoration: underline;
    color: lightgray;
}

main .middle .mechanics {
    /* padding: var(--spacer_rem); */
    color: white;
}
main .middle .mechanics ul {
    padding: 0 var(--spacer_rem_double);
    
    font-family: WyliFont, "Comic Sans MS", "Comic Sans", cursive;
    font-size: 16px;
    color: lightgray;
}

.carousel-h {
    display: grid;
    gap: var(--spacer_rem);
    grid-auto-flow: column;
    grid-auto-columns: 28%;

    padding: 0 var(--spacer_rem) var(--spacer_rem);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.carousel-h::-webkit-scrollbar {
    height: var(--spacer_rem);
}
.carousel-h::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: var(--spacer_rem);
    margin: var(--spacer_rem);
    box-shadow: inset 0 var(--spacer_rem_quarter) var(--spacer_rem_quarter) 0 rgb(0, 0, 0, 0.33);
}
.carousel-h::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: var(--spacer_rem);
    border: var(--spacer_rem_quarter) solid gray;
}
.carousel-h::-webkit-scrollbar-thumb:hover {
    background-color: lightgray;
}

.carousel-h .item {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer_rem_half);
    padding: var(--spacer_rem_half);
    background-color: white;
    border-radius: var(--spacer_rem_half);
    box-shadow: 0 var(--spacer_rem_half) var(--spacer_rem_half) 0 rgb(0, 0, 0, 0.33);
}
.carousel-h .item:hover {
    box-shadow: inset 0 var(--spacer_rem_half) var(--spacer_rem_half) 0 rgb(0, 0, 0, 0.33);
    cursor: pointer;
}
.carousel-h .item .thumbnail {
    background-color: gray;
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: var(--spacer_rem_quarter);
}



.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer_rem);
}
.snaps-inline > * {
    scroll-snap-align: start;
}