* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --spacer_rem: 1rem;

    --spacer_rem_double: calc(var(--spacer_rem) * 2);

    --spacer_rem_half: calc(var(--spacer_rem) * 0.5);
    --spacer_rem_quarter: calc(var(--spacer_rem) * 0.25);


    
    --spacer_vw: 8vw;

    --spacer_vw_double: calc(var(--spacer_vw) * 2);

    --spacer_vw_half: calc(var(--spacer_vw) * 0.5);
    --spacer_vw_quarter: calc(var(--spacer_vw) * 0.25);
}
@font-face {
    font-family: WyliFont;
    src: url(fonts/WyliFont-Regular.ttf);
}



a:visited {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}



h1,
h2 {
    font-family: WyliFont, "Comic Sans MS", "Comic Sans", cursive;
}
h1 {
    font-size: var(--spacer_vw_half);
}
h1 {
    font-size: var(--spacer_vw_quarter);
}



header {
    display: grid;
    place-items: center;
}
header .logo-text {
    max-height: 16vw;
}



body {
    background-image: url(images/backgrounds/main.png);
    background-size: cover;
    background-position: 50% 50%;
    padding-bottom: var(--spacer_rem);
}
body .left {
    position: fixed;
    bottom: -33%;
    width: 16%;
    height: auto;
    z-index: -1;
}
body .right {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 16%;
    height: auto;
    z-index: -1;
}
body .left img {
    position: relative;
    float: right;
    transform: translateX(-16%);
}
body .right img {
    position: relative;
    float: left;
    transform: translateX(16%);
}



main .middle {
    display: grid;
    place-items: center;
}
main .middle > * {
    width: 67%;
    margin: var(--spacer_rem_double);
}

main h1 {
    text-align: center;
    font-size: var(--spacer_vw_half);
}
main h2 {
    margin: 0;
    font-size: var(--spacer_vw_quarter);
}

.carousel-h {
    display: grid;
    gap: var(--spacer_rem);
    grid-auto-flow: column;
    grid-auto-columns: 28%;

    padding: var(--spacer_rem) var(--spacer_rem) var(--spacer_rem);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.carousel-h::-webkit-scrollbar {
    height: var(--spacer_rem);
}
.carousel-h::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: var(--spacer_rem);
    margin: var(--spacer_rem);
    box-shadow: inset 0 var(--spacer_rem_quarter) var(--spacer_rem_quarter) 0 rgb(0, 0, 0, 0.33);
}
.carousel-h::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: var(--spacer_rem);
    border: var(--spacer_rem_quarter) solid gray;
}
.carousel-h::-webkit-scrollbar-thumb:hover {
    background-color: lightgray;
}

.carousel-h .item {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer_rem_half);
    padding: var(--spacer_rem_half);
    background-color: white;
    border-radius: var(--spacer_rem_half);
    box-shadow: 0 var(--spacer_rem_half) var(--spacer_rem_half) 0 rgb(0, 0, 0, 0.33);
}
.carousel-h .item:hover {
    box-shadow: inset 0 var(--spacer_rem_half) var(--spacer_rem_half) 0 rgb(0, 0, 0, 0.33);
    cursor: pointer;
}
.carousel-h .item .thumbnail {
    background-color: gray;
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: var(--spacer_rem_quarter);
}



.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer_rem);
}
.snaps-inline > * {
    scroll-snap-align: start;
}